In [8]:
nsti = input('Enter your nsti : ')
if(nsti == 'Allahabad' or nsti == 'Dehradun' or nsti == 'Kanpur' or nsti == 'Patna'):
     print ('Welcome to the meeting')
else:
    print ('Byeeee!!!')

Enter your nsti : indore
Byeeee!!!

In [3]:
a = 10
b = 'Mukesh'
print(type(a))
print(type(b))

<class 'int'>
<class 'str'>

In [9]:
import math as m 
a = m.ceil(8.1)
a

9

In [14]:
a = m.sqrt(16)
a

4.0

In [15]:
a = pow(4,8)
a

65536

In [16]:
abs(-5.2)

5.2

In [17]:
print(abs)

<built-in function abs>

In [21]:
m.factorial(3)

6

In [24]:
m.gcd(21,12)

3

In [27]:
import random
random.randrange(5,10)

5

In [30]:
print('Mukesh \n Nirmal')
print('Mukesh \t Nirmal')

Mukesh
 Nirmal
Mukesh 	 Nirmal

In [3]:
a = 'Mukes#h'
print(a.encode(encode='ascii',errors='ignore'))

TypeError: 'encode' is an invalid keyword argument for encode()

In [17]:
a = 1 
b = int(input('Enter a number'))
while (a <= 10):
    print(a*b)
    a+=1

Enter a number5
5
10
15
20
25
30
35
40
45
50

In [16]:
x = int(input('Enter'))
for a in range (0,10):
    print(x*a)

Enter9
0
9
18
27
36
45
54
63
72
81

In [21]:
a = (5,6,9,1,6,3)
b = sorted(a)
print(b)

[1, 3, 5, 6, 6, 9]

In [25]:
f = ['Apple','Banana','Orange','Pineapple']
print(f.index('Orange'))

2

In [32]:
amount = 500
year = 12
rate = 5
si = (amount*year*rate)/100
print("Simple Interest is: ", si)

Simple Interest is:  300.0