In [1]:
for a in 'Mukesh' :print(a)

M
u
k
e
s
h

In [2]:
a = [1, 'Mukesh','DDN','HTML',55]
for b in a:print(b)

1
Mukesh
DDN
HTML
55

In [4]:
c = ('HTML',20.2, 'JS','DDN')
for i in c:print(i)

HTML
20.2
JS
DDN

In [5]:
d = {2,5,'Nirmal','DDN'}
for i in d:print(i)

2
DDN
5
Nirmal

In [6]:
a = [5,'NRML',True,8,'Mukesh']
len(a)

5

In [15]:
# List constructor

a = list(('5','Mukesh',True,8.5))
print(a)
print(type(a))
a[-3]  #indexing

['5', 'Mukesh', True, 8.5]
<class 'list'>

'Mukesh'

In [17]:
a.append(True)

In [22]:
g = ('Mukesh','Nirmal')
g[1]

'Nirmal'

Unione

In [28]:
a = {1,55,78,5,48,1,4,6,}
b = {5,8,4,6,5,7,55,47,2}
a|b

{1, 2, 4, 5, 6, 7, 8, 47, 48, 55, 78}

# Nested Loop

In [41]:
for a in range(6):
    for b in range(a):
        print(b, end='')
    print('')

0
01
012
0123
01234

In [38]:
for a in range(11):
    for b in range(a):
        print('*',end='')
    print('')

*
**
***
****
*****
******
*******
********
*********
**********

In [45]:
a = 1
while(a<=5):
    b=5
    while(b>=a):
        print(b, end='')
        b-=1
    a+=1
    print('')

54321
5432
543
54
5

In [2]:
#import module/library as var
#import class from module/library

import datetime

In [3]:
a = datetime.datetime.now()
print(a)

2023-07-11 14:46:03.475895

In [17]:
from datetime import date 
a = date(2023,4, 30)
print(a)
print(date.today())
b = date.fromtimestamp(5415452641)
print(b)

2023-04-30
2023-07-11
2141-08-11

In [19]:
a = date.today()

2023-07-11

In [20]:
import datetime

print(dir(datetime))

['MAXYEAR', 'MINYEAR', 'UTC', '__all__', '__builtins__', '__cached__', '__doc__', '__file__', '__loader__', '__name__', '__package__', '__spec__', 'date', 'datetime', 'datetime_CAPI', 'sys', 'time', 'timedelta', 'timezone', 'tzinfo']

In [21]:
from datetime import time

a = time(11, 34, 56)

print("Hour =", a.hour)
print("Minute =", a.minute)
print("Second =", a.second)
print("Microsecond =", a.microsecond)

Hour = 11
Minute = 34
Second = 56
Microsecond = 0

# Function

In [31]:
def a():
    print('Hello My name is Mukesh nirmal !!!')

In [32]:
a()

Hello My name is Mukesh nirmal !!!

In [24]:
def b():print(5*2)

In [25]:
b()

10

In [34]:
def addi(a,b):print(a+b)

In [36]:
addi(5,5)

10

In [38]:
def subs(a,b):print(a-b)

In [39]:
subs(55,50)

5

In [40]:
def calc(a,b):
    print(a+b)
    print(a-b)
    print(a*b)
    print(a/b)
    print(a**b)

In [44]:
calc(4,15)

19
-11
60
0.26666666666666666
1073741824

The youngest child is Tobias