# MongoDB Connection

In [1]:
import pymongo

In [2]:
connection = pymongo.MongoClient('mongodb://localhost:27017')
print(connection)

MongoClient(host=['localhost:27017'], document_class=dict, tz_aware=False, connect=True)

In [6]:
database1 = connection['dehradun']
print(database1)

Database(MongoClient(host=['localhost:27017'], document_class=dict, tz_aware=False, connect=True), 'dehradun')

In [7]:
collection = database1['student']
print(collection)

Collection(Database(MongoClient(host=['localhost:27017'], document_class=dict, tz_aware=False, connect=True), 'dehradun'), 'student')

In [5]:
document = collection.insert_one({'name':'Mukesh','age':18,'laptop':True})
print(document)

<pymongo.results.InsertOneResult object at 0x000001C0B65FBA00>

In [8]:
document1 = collection.insert_many([{'name':'Nirmal','age':19},{'name':'Ashish','age':15},{'name':'Akash','age':21}])
print(document1)

<pymongo.results.InsertManyResult object at 0x000001C0B6BB8FD0>

In [9]:
document2 = collection.insert_one({'name':'Bhagwan','age':18,'laptop':True})
print(document)

<pymongo.results.InsertOneResult object at 0x000001C0B65FBA00>

In [10]:
set2 = [{'name':'aman','laptop':False},{'name':'parvesh','age':22},{'name':'manisha','age':21}]
document3 = collection.insert_many(set2)
print(document3)

<pymongo.results.InsertManyResult object at 0x000001C0B6BB95A0>

In [14]:
print(connection.list_database_names())

['admin', 'company', 'config', 'dehradun', 'doon', 'local', 'mongodbVSCodePlaygroundDB', 'nirmal', 'nsti', 'test']

In [16]:
a = connection['doon']
a.list_collection_names()

['CHNM', 'CSA', 'ELE', 'Solar', 'EM', 'ADIT']

In [8]:
collection.find_one()

{'_id': ObjectId('64b4c28d79217933d953058a'),
 'name': 'Mukesh',
 'age': 18,
 'laptop': True}

In [9]:
d = collection.find()
for x in d:print(x)

{'_id': ObjectId('64b4c28d79217933d953058a'), 'name': 'Mukesh', 'age': 18, 'laptop': True}
{'_id': ObjectId('64b4c42579217933d953058b'), 'name': 'Nirmal', 'age': 19}
{'_id': ObjectId('64b4c42579217933d953058c'), 'name': 'Ashish', 'age': 15}
{'_id': ObjectId('64b4c42579217933d953058d'), 'name': 'Akash', 'age': 21}
{'_id': ObjectId('64b4c64379217933d953058e'), 'name': 'Bhagwan', 'age': 18, 'laptop': True}
{'_id': ObjectId('64b4c6ee79217933d953058f'), 'name': 'aman', 'laptop': False}
{'_id': ObjectId('64b4c6ee79217933d9530590'), 'name': 'parvesh', 'age': 22}
{'_id': ObjectId('64b4c6ee79217933d9530591'), 'name': 'manisha', 'age': 21}

In [10]:
e = collection.find({'name':'Mukesh'})
for x in e:print(x)

{'_id': ObjectId('64b4c28d79217933d953058a'), 'name': 'Mukesh', 'age': 18, 'laptop': True}

In [17]:
f = collection.find({'age':{'$gt':17}})
for x in f:print(x)

{'_id': ObjectId('64b4c28d79217933d953058a'), 'name': 'Mukesh', 'age': 18, 'laptop': True}
{'_id': ObjectId('64b4c42579217933d953058b'), 'name': 'Nirmal', 'age': 19}
{'_id': ObjectId('64b4c42579217933d953058d'), 'name': 'Akash', 'age': 21}
{'_id': ObjectId('64b4c64379217933d953058e'), 'name': 'Bhagwan', 'age': 18, 'laptop': True}
{'_id': ObjectId('64b4c6ee79217933d9530591'), 'name': 'manisha', 'age': 21}

In [16]:
k = collection.delete_one({'age':22})

In [1]:
import csv
import pymongo
connection = pymongo.MongoClient('mongodb://localhost:27017')
db = connection['ITIBihar']
coll = db['college']
header = ['state','count','trade','seat']

with open('iti.csv','r') as file