# Database Connection

In [ ]:
pip install mysql-connector-python

In [3]:
# Database Connection

import mysql.connector as ms

dbs = ms.connect(host='localhost',user='root',password='')
print(dbs)

<mysql.connector.connection_cext.CMySQLConnection object at 0x0000012BD61581D0>

In [5]:
# Create Database

import mysql.connector as ms

dbs = ms.connect(host='localhost',user='root',password='')

mydbs = dbs.cursor()
mydbs.execute('create database python')
print('Succesfully created')

Succesfully created

In [10]:
# Show Database

import mysql.connector as ms

dbs = ms.connect(host='localhost',user='root',password='')

mydbs = dbs.cursor()
mydbs.execute('show databases')

for x in mydbs:print(x)

('adit',)
('crud',)
('csa',)
('dgt',)
('form',)
('information_schema',)
('mukesh',)
('mysql',)
('nsti',)
('performance_schema',)
('phpmyadmin',)
('practical',)
('python',)
('ses',)
('swati',)
('test',)

In [23]:
# show table

import mysql.connector as ms

dbs = ms.connect(host='localhost',user='root',password='',database='python')
mydbs = dbs.cursor()
mydbs.execute('show tables')

for x in mydbs:print(x)

In [24]:
# Create table

import mysql.connector as ms

dbs = ms.connect(host='localhost',user='root',password='',database='python')
mydbs = dbs.cursor()

mydbs.execute('create table student(roll int auto_increment primary key, name varchar(40), phone varchar(40))')
print('table created succesfully')

table created succesfully

In [26]:
# Add Column

import mysql.connector as ms

dbs = ms.connect(host='localhost',user='root',password='',database='python')
mydbs = dbs.cursor()

mydbs.execute('alter table student add column aadhar varchar(12)')
print('Succesfully Added')

Succesfully Added

In [27]:
# Create table (Second Methord)

import mysql.connector as ms

dbs = ms.connect(host='localhost',user='root',password='',database='python')
mydbs = dbs.cursor()
mydbs.execute('create table nsti(name varchar(40),age int,email varchar(40))')
print('Table created succesfully')

Table created succesfully

In [36]:
# Data Insert

import mysql.connector as ms

dbs = ms.connect(host='localhost',user='root',password='',database='python')
mydbs = dbs.cursor()
a = 'insert into nsti(name, age, email) values(%s,%s,%s)'
b = ('Mukesh', 22,'mukesh@outlook.com')
mydbs.execute(a, b)
dbs.commit()

print('Data inserted succesfully')

Data inserted succesfully

In [4]:
import mysql.connector as ms

dbs = ms.connect(host='localhost',user='root',password='',database='python')
mydbs = dbs.cursor()
a = 'insert into nsti(name, age, email) values(%s,%s,%s)'
c = [('Nirmal',19,'nirmal@mail.com'),('Chhabili',23,'chh@maul.com'),('Raju',21,'r@mail.com')]
mydbs.executemany(a,c)

dbs.commit()
print('Succesfully done')

Succesfully done

In [5]:
import mysql.connector as ms

dbs = ms.connect(host='localhost',user='root',password='',database='python')
mydbs = dbs.cursor()

while True:
    e = input('enter your name : ')
    f = input('enter your age : ')
    g = input('enter your email : ')

    query = "insert into nsti values('{}','{}','{}')".format(e,f,g)
    mydbs.execute(query)
    dbs.commit()
    
    print('Added Succesfully')
    
    x = int(input('1 -> Enter more data \n 2 -> Exit \n Enter your choice'))
    if x == 2:
        break

enter your nameOm
enter your age30
enter your emailom@mail.com
Added Succesfully
1 -> Enter more data
 2 -> Exit
 Enter your choice1
enter your nameraj
enter your age09
enter your emailraj@mail.com
Added Succesfully
1 -> Enter more data
 2 -> Exit
 Enter your choice2

In [ ]:
query = 'Select * from nsti'
mydbs.execute(query)